/* Button */
.btn-langkah {
  color: #fff;
  background-color:  #ECB811;
  border-color:  #ECB811;
}

.btn-langkah:hover {
  color: #fff;
  background-color: #D4A60F;
  border-color: #D4A60F;
}

.btn-langkah:focus, .btn-langkah.focus {
  color: #fff;
  background-color: #D4A60F;
  border-color: #D4A60F;
  box-shadow: 0 0 0 0.2rem #D4A60F80;
}

.btn-langkah.disabled, .btn-langkah:disabled {
  color: #fff;
  background-color: #FFE07A;
  border-color: #FFE07A;
}

.btn-langkah:not(:disabled):not(.disabled):active, .btn-langkah:not(:disabled):not(.disabled).active,
.show > .btn-langkah.dropdown-toggle {
  color: #fff;
  background-color: #ECB811;
  border-color: #ECB811;
}

.btn-langkah:not(:disabled):not(.disabled):active:focus, .btn-langkah:not(:disabled):not(.disabled).active:focus,
.show > .btn-langkah.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ffc71080;
}

/* Link */
a {
  color: #4c4c4c !important;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color:  #D4A60F !important;
  text-decoration: underline;
}

/* Text */
.text-langkah{
    color: #D4A60F !important;
}