.img-cover{
  object-fit: cover;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: #ECB811;
}

#img-profile{
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.img-hover{
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

/* Button */
.btn-langkah {
  color: #fff;
  background-color:  #ECB811;
  border-color:  #ECB811;
}

.btn-langkah:hover {
  color: #fff;
  background-color: #D4A60F;
  border-color: #D4A60F;
}

.btn-langkah:focus, .btn-langkah.focus {
  color: #fff;
  background-color: #D4A60F;
  border-color: #D4A60F;
  box-shadow: 0 0 0 0.2rem #D4A60F80;
}

.btn-langkah.disabled, .btn-langkah:disabled {
  color: #fff;
  background-color: #FFE07A;
  border-color: #FFE07A;
}

.btn-langkah:not(:disabled):not(.disabled):active, .btn-langkah:not(:disabled):not(.disabled).active,
.show > .btn-langkah.dropdown-toggle {
  color: #fff;
  background-color: #ECB811;
  border-color: #ECB811;
}

.btn-langkah:not(:disabled):not(.disabled):active:focus, .btn-langkah:not(:disabled):not(.disabled).active:focus,
.show > .btn-langkah.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ffc71080;
}

/* Link */
.sidebar-light .sidebar-heading {
  color:  #ECB811 !important;
  margin-bottom: 5px;
}
.sidebar-light .nav-item.active .nav-link i {
  color:  #ECB811 !important;
}

.sidebar-light .nav-item .nav-link:hover {
  color:  #D4A60F !important;
}

.sidebar-light .nav-item .nav-link a{
  color:  #ECB811!important;
}
.sidebar-light .nav-item.active{
  background-color:  #ECB811!important;
}

.sidebar-light .nav-item.active .nav-link {
  color:  #fff !important;
}

.sidebar-light .nav-item.active .nav-link i {
  color:  #fff !important;
}

.sidebar-light .nav-item.active .nav-link:hover i {
  color:  #fff !important;
}

.sidebar-light .nav-item .nav-link a:hover{
  color:  #D4A60F !important;
}

.sidebar-light .nav-item:hover .nav-link i {
  color:  #ECB811!important;
}


.sidebar-light .nav-item.active .nav-link[data-toggle=collapse]::after {
  color: #fff !important;
}

/* Text */
.text-langkah{
    color: #D4A60F !important;
}

/* Background */
.bg-langkah{
  background-color: #ECB811!important;
}

.sidebar .sidebar-card{
  background-color:#ECB811!important;
  
}

.sidebar .sidebar-card p {
  color: #fff !important;
}

.input-group-addon{
  background-color: #ECB811;
  padding: 0vw 1vw;
  border-radius: 0 .35rem .35rem 0;
}

.input-group-addon a{ 
  font-size: 10pt;
  color : #fff !important;
}



.timepicker{
  z-index: 999;
}

#mentoring{
  max-height: 60vh;
  overflow-y: scroll;
}

.chat{
  max-width: 50%;
  width: auto;
  padding: 2vh;
  margin-bottom: 3vh;
  border-radius: 10px;
}

.other-chat{
  background-color: #f8f9fc !important;
  color: #4c4c4c;
}

.chat .send-time{
  text-align: right;
}

.your-chat{
  background-color:#ECB811!important;
  color: #141414;
  flex-direction: row-reverse;
  margin-left: auto;
}

@media (max-width: 1000px) {
  .chat{
    max-width: 80%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


.btn-radius{
  border-radius: 50px;
  padding: 10px 25px 10px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 13px !important;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-current {
  color: #fff;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.btn-current:hover {
  color: #fff;
  background-color: #0069d9 !important;
  border-color: #0062cc !important;
}

.btn-answered {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-answered:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}