/* Button */
.btn-langkah {
  color: #fff;
  background-color:  #ECB811;
  border-color:  #ECB811;
}

.btn-langkah:hover {
  color: #fff;
  background-color: #D4A60F;
  border-color: #D4A60F;
}

.btn-langkah:focus, .btn-langkah.focus {
  color: #fff;
  background-color: #D4A60F;
  border-color: #D4A60F;
  box-shadow: 0 0 0 0.2rem #D4A60F80;
}

.btn-langkah.disabled, .btn-langkah:disabled {
  color: #fff;
  background-color: #FFE07A;
  border-color: #FFE07A;
}

.btn-langkah:not(:disabled):not(.disabled):active, .btn-langkah:not(:disabled):not(.disabled).active,
.show > .btn-langkah.dropdown-toggle {
  color: #fff;
  background-color: #ECB811;
  border-color: #ECB811;
}

.btn-langkah:not(:disabled):not(.disabled):active:focus, .btn-langkah:not(:disabled):not(.disabled).active:focus,
.show > .btn-langkah.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ffc71080;
}

/* Link */
.sidebar-light .sidebar-heading {
  color:  #ECB811 !important;
  margin-bottom: 5px;
}
.sidebar-light .nav-item.active .nav-link i {
  color:  #ECB811 !important;
}

.sidebar-light .nav-item .nav-link:hover {
  color:  #D4A60F !important;
}

.sidebar-light .nav-item .nav-link a{
  color:  #ECB811!important;
}
.sidebar-light .nav-item.active{
  background-color:  #ECB811!important;
}

.sidebar-light .nav-item.active .nav-link {
  color:  #fff !important;
}

.sidebar-light .nav-item.active .nav-link i {
  color:  #fff !important;
}

.sidebar-light .nav-item.active .nav-link:hover i {
  color:  #fff !important;
}

.sidebar-light .nav-item .nav-link a:hover{
  color:  #D4A60F !important;
}

.sidebar-light .nav-item:hover .nav-link i {
  color:  #ECB811!important;
}


/* Text */
.text-langkah{
    color: #D4A60F !important;
}

/* Background */
.bg-langkah{
  background-color: #ECB811!important;
}

.sidebar .sidebar-card{
  background-color:#ECB811!important;
  
}

.sidebar .sidebar-card p {
  color: #fff !important;
}

.input-group-addon{
  background-color: #ECB811;
  padding: 1vw;
  border-radius: 0 .35rem .35rem 0;
}

.input-group-addon a{ 
  color : #fff !important;
}